.dogImage {
    height: 20em;
    width: 20em;
    margin: 10px;
    float: left;
    border-radius: 20px;
    background-image: url(../rsrc/dog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.analitics {
    width: calc(90% - 20em);
    height: 18em;
    padding: 1em 2em;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #88C7D8;
    float: left;
    position: relative;
    display: block;
    font-family: Courier New, Courier, monospace;
}

.dogName {
    font-size: 4em;
    font-weight: 900;
    margin-right: 0.6em;
}

.ownerName {
    font-size: 2em;
    font-weight: 600;
}

.dogSpecies {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 500;
    margin-left: 1em;
}

.dogBirthday {
    display: inline-block;
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 0.4em;
}

.dogData {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    width: 100%;
    border-color: #44596E;
    border-spacing: 0.3em;
}

.dogData td,
th {
    text-align: center;
    font-size: 1.2em;
}

.offline {
    color: red;
}

.online {
    color: green;
}

.waitView {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 6em;
}

#voto::-webkit-inner-spin-button,
#voto::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#confirm {
    display: block;
    margin: 0 auto;
}

#commento {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    padding: 1em;
    margin: 1.2em;
    resize: none;
}

.ui-spinner-input {
    margin: 0!important;
    padding: 0!important;
    font-size: 5em!important;
    width: 1.2em;
}

.ui-spinner {
    display: inline-block;
    vertical-align: middle;
    margin: 1.2em;
    align-content: center;
    width: 7.5em!important;
    padding: 1em!important;
}


/*.spinnerView div{
    margin: 0 auto;
    width: inherit;
    text-align: center;
    display: block;
}*/