.category {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.description {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.registerText {
    text-align: center;
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#login {
    border-radius: 5px;
    background: #002fff;
    margin: auto;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fafafa;
	padding: 10px;
}
input {
    font-family: 'Arial Bold', sans-serif;
    display: block;
    padding: 4px;
    margin: auto;
}
.profileIcon {
    height: 200px;
    width: 200px;
    display: block;
    margin: 10px auto 20px auto;
}