* {
    margin: 0;
    width: 100%;
    background-color: #426952;
}

#background {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 14fr 1fr 1fr;
    grid-template-areas: 
        "playerOne board playerTwo"
        "playerOne board btnSettings"
        "playerOne board btnExit";
    width: 100%;
    height: 100%;
}

#gameBoard {
    grid-area: board;
    display: grid;
    height: 50vw;
    width: 50vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 0.1em;
    margin: auto;
    margin-top: 8%;
}

.player_sidebar {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "playerIcon playerIcon"
        "playerName playerName"
        "diskIcon diskCount"
        "timeIcon timeCount";
    height: 60%;
    width: 50%;
    margin-top: 20%;
}

.player1 {
    grid-area: playerOne;
}

.player2 {
    grid-row: 1/4;
}

.disk {
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    width: 85%;
    box-shadow: 2px 2px 8px #2228;
}

.disk_black {
    background: radial-gradient(at 35% 35%, #363636 0%, #1B1B1A 65%, #060606 100%);
}

.disk_white {
    background: radial-gradient(at 35% 35%, #ffffff 0%, #d0d0d0 85%, #c6c6c6 100%);
}

.diskHint {
    opacity: 0.3;
    box-shadow: 4px 4px 8px #2224;
}

.diskHint:hover {
    opacity: 0.85;
    border: cadetblue solid 3px;
}

.cell {
    height: 100%;
    width: 100%;
    background-color: #72B584;
}

#cell_a1 {
    border-top-left-radius: 25%;
}

#cell_h1 {
    border-top-right-radius: 25%;
}

#cell_a8 {
    border-bottom-left-radius: 25%;
}

#cell_h8 {
    border-bottom-right-radius: 25%;
}

.profileImage {
    grid-area: playerIcon;
    border: 4px solid #363636;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: auto;
    background: #ffffff;
}

.infoText {
    text-align: right;
    height: 100%;
    font-size: 2.5vw;
    color: #ffffff;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
}

.playerUsernameText {
    grid-area: playerName;
    text-align: center;
    font-size: 3vw;
    color: #ffffff;
    font-family: sans-serif, Courier, monospace;
}

.sidebarDisk {
    grid-area: diskIcon;
    width: 3.5vw;
    height: 3.5vw;
    position: unset;
    top: 0%;
    transform: none;
}
.clockIcon {
    margin: auto;
    width: 3.5vw;
    height: 3.5vw;
}