* { 
    background-color: #426952;
    margin: 0;
    height: 100%;
  }
  
  #background{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      display: grid;
      grid-template-columns: 30%, 40%, 30%;
      grid-template-rows: 100px, 300px; 
      grid-template-areas: 
          "1 logo 2"
          "3 buttons statistics";
  }
  
  .logo{
      grid-area: logo;
      width: 500px;
      height: 160px;
      position: relative;
      top: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .buttons{
      grid-area: buttons;
      position: relative;
      top: 50px;
      width: 200px;
      height: 60px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 12px;  
  }
  
  #instructions{
      color: white;
      background-color: green;
      margin: 20px;
      font-size: 30px;
      /* position: relative;
      top:30%; */
  }
  
  #instructions:hover{
      background-color: greenyellow;
  }
  
  
  #instructions:active{
      background-color: yellow;
  }
  
  #play{
      color: white;
      background-color: green;
      margin: 20px;
      font-size: 30px;
      /* position: relative;
      top:30%; */
  }
  
  #play:hover{
      background-color: greenyellow;
  }
  
  #play:active{
      background-color: yellow;
  }
  
  .instructionPage{
      display: none;
      opacity:0.4;
      border: 2px;
      border-color: white;
      background-color: white;
      width: 200px;
      height: 200px;
      position: relative;
      top: 100px;
      left: 100px;
      overflow:auto;
  }
  
  .instructionPageContent{
      color: black;
      margin: 15% auto;
      padding:20px;
      width: 80%;
  }
  
  #line1::before{
      content: "1. ";
      color: black;
  }
  
  #hint::after{
      content: "the grids with dark shadow on the board will be the possible places to place a disk.";
      color: black;
  }
  
  .close{
      color: #426952;
      float: right;
      font-size: 30px;
      font-weight: bold;
  }
  
  .close:hover,
  .closefocus{
      color: white;
      cursor:pointer;
  }
  
  .statistics{
      grid-area: statistics;
      width: 100%;
      display: grid;
      grid-template-rows: 30%, 30%, 30%;
      grid-template-columns: repeat(30%);
      grid-template-areas: 
          "pastVisitor"
          "ongoingGames"
          "playersOnline";
  }
  
  @keyframes jump{
      from {top:53px;}
      to {top:50px;}
    }
  
  .animage{
      overflow: auto;
      position: relative;
      animation-name:jump;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      border-radius: 12px;
  }
  
  .eyePc{
      grid-area: pastVisitor;
      background-color: white;
      width: 50px;
      height: 50px;
  }
  
  .boardPc{
      grid-area: ongoingGames;
      background-color: white;
      width: 50px;
      height: 50px;
      overflow: auto;
      position: relative;
      animation-name:jump;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }
   
  .peoplePc{
      grid-area: playersOnline;
      background-color: white;
      width: 50px;
      height: 50px;
      overflow: auto;
      position: relative;
      animation-name:jump;
      animation-duration: 1s;
      animation-iteration-count: infinite;
  }
  
  .sometext a span{
      display: none;
  }
  .sometext a:hover span{
      display: block;
  }
  
  .pastVisitorNumber{
      display:none;
  }
  
  .ongoingGamesNumber{
      display:none;
  }
  
  .playersOnlineNumber{
      display:none;
  }
  
  .auto-visible{
      width: 100%;
      height:100px; 
      float:right; 
      position:relative; 
      /* box-shadow:3px 3px 10px #666; */
      overflow:hidden;
  }
  
  .auto-visible img{
      width:50px;
      height:50px;
      right:-295px;
      position: relative;
      -webkit-transition:right 0.5s ease;   
  }
  
  .auto-visible span{
      width:140px; 
      height:25px; 
      /* background:#333; */
      position:absolute;
      right:-300px;
      top:50px;
      filter:Alpha(opacity=80);
      -moz-opacity: 0.8; 
      opacity: 0.8; 
      padding:2px; 
      -webkit-transition:right 0.5s ease;
      float:left;
  }
  
  .auto-visible span h1{
      height:25px; 
      color:#000;
      background-color: #fff; 
      font-size:18px;
      text-align:center; 
      position:relative;
      right:-300px; 
      -webkit-transition:right 1s ease;
  }
  
  .auto-visible:hover img{right:0px;}
  
  .auto-visible:hover span{right:0px;}
  
  .auto-visible:hover span h1{right:0px;}